.html {
    height:100%;
}
body{
    font-family: 'Outfit', sans-serif;
    background:url("../../assets/wormhole1920.jpg");
    background-size:cover; 
}

.wrapper{
    display:flex;
}


.heading{
    padding-left:2rem;
    width:100%;
    color: white;
    font-size: large;
}
